<%# <a href="/" class="item">
  Chatroom
</a> %>
<%= link_to "Chatroom", root_path, class: "item" %>
<a class="item">
  Messages
</a>
<div class="right menu">
  <div class="ui item">
    <form>
      <label for="language">Account :</label>
      <select id="language" name="language">
        <option value="">Select an option</option>
        <option value="https://example.com">Log out</option>
        <option value="login">Log in</option>
        <option value="https://example.net">Sign up</option>
      </select>
    </form>
  </div>
  <div class="item">
      <div class="ui primary button">Sign Up</div>
  </div>
</div>